@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
=======================
Fonts
=======================
*/

body {
  font-family: var(--font-work-sans), sans-serif;
}

/* 
=======================
Containers
=======================
*/

/* Define CSS variables for responsive breakpoints */
:root {
  --mobile-width: 760px;
  --medium-width: 1000px;
  --desktop-width: 1200px;
}

* {
  box-sizing: border-box;
}

/* Generic container that sticks to the sides as the screen size increases */
.cont {
  margin: 0 auto; /* Center the container */
  padding: 0rem; /* Add padding to the sides */

  /* Extra Small Screens (xs): 0px -> 575 */
  @media (min-width: 0px) {
    max-width: 100% !important; /* Adjust the max-width */
    padding: 0 1rem;
  }

  /* Small Screens (s): 575px -> 770px */
  @media (min-width: 575px) {
    max-width: 530px !important; /* Adjust the max-width */
  }

  /* Medium screens (m): 770px -> 990px */
  @media (min-width: 770px) {
    max-width: 690px !important; /* Adjust the max-width */
  }

  /* Large screens (l): 990px -> 1200px */
  @media (min-width: 990px) {
    max-width: 950px !important; /* Adjust the max-width  - prev 930px*/
  }

  /* Extra large screens (xl): 1200px+ */
  @media (min-width: 1200px) {
    max-width: 100% !important;
    padding: 0 3.5rem;
  }
}

/* The special container that sticks to the sides as the screen size decreases */
.stick-cont {
  margin: 0 auto; /* Center the container */
  padding: 0rem; /* Add padding to the sides */

  /* Extra Small Screens (xs): 0px -> 575 */
  @media (min-width: 0px) {
    max-width: 100%;
    padding: 0 0.5rem;
  }

  /* Small Screens (s): 575px -> 770px */
  @media (min-width: 575px) {
    max-width: 100%;
    padding: 0 1.5rem;
  }

  /* Medium screens (m): 770px -> 990px */
  @media (min-width: 770px) {
    max-width: 100%;
    padding: 0 1.5rem;
  }

  /* Large screens (l): 990px -> 1200px */
  @media (min-width: 990px) {
    max-width: 950px; /* Adjust the max-width  - prev 930px*/
  }

  /* Extra large screens (xl): 1200px+ */
  @media (min-width: 1200px) {
    max-width: 1200px;
    padding: 0 3.5rem;
  }
}

/* Container that stays compacted towards the center as the screen size decreases */
.tight-cont {
  margin: 0 auto; /* Center the container */
  padding: 0rem; /* Add padding to the sides */

  /* Extra Small Screens (xs): 0px -> 575 */
  @media (min-width: 0px) {
    max-width: 100%;
    padding: 0 0.75rem;
  }

  /* Small Screens (s): 575px -> 770px */
  @media (min-width: 575px) {
    max-width: 540px;
    padding: 0 1.5rem;
  }

  /* Medium screens (m): 770px -> 990px */
  @media (min-width: 770px) {
    max-width: 720px;
    padding: 0 1.5rem;
  }

  /* Large screens (l): 990px -> 1200px */
  @media (min-width: 990px) {
    max-width: 950px; /* Adjust the max-width  - prev 930px*/
  }

  /* Extra large screens (xl): 1200px+ */
  @media (min-width: 1200px) {
    max-width: 1200px;
    padding: 0 1.5rem;
  }
}

.tightest-cont {
  margin: 0 auto; /* Center the container */
  padding: 0rem; /* Add padding to the sides */

  /* Extra Small Screens (xs): 0px -> 575 */
  @media (min-width: 0px) {
    max-width: 100%;
    padding: 0 0.75rem;
  }

  /* Small Screens (s): 575px -> 770px */
  @media (min-width: 575px) {
    max-width: 530px;
    padding: 0 1.5rem;
  }

  /* Medium screens (m): 770px -> 990px */
  @media (min-width: 770px) {
    max-width: 540px;
    padding: 0 1.5rem;
  }

  /* Large screens (l): 990px -> 1200px */
  @media (min-width: 990px) {
    max-width: 100%; /* Adjust the max-width  - prev 930px*/
    padding: 0 3rem;
  }

  /* Extra large screens (xl): 1200px+ */
  @media (min-width: 1200px) {
    max-width: 1200px;
    padding: 0 1.5rem;
  }
}

/* 
=======================
Animations
=======================
*/
/* Hovers, transitions,  */

.default-transition {
  transition: all 300ms ease-out;
}

.orange-hover:hover {
  transition: all 300ms ease-out;
  color: #f66608;
}

.orange-hover:hover {
  transition: all 300ms ease-out;
  color: #f66608;
}

.black-hover:hover {
  transition: all 300ms ease-out;
  background-color: #333333;
}

/* Add this to your globals.css or a specific CSS file */
@keyframes dotAnimation {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}

.animate-dot {
  animation: dotAnimation 2s ease-in-out infinite;
}
/* 
=======================
Slick Slider Styles
=======================
*/

/* Slick slider container */
.slick-slider {
  position: relative !important;
}

/* Slick dots arranged vertically on the right */
.slick-dots {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  position: absolute !important;
  right: 1rem;
  top: 0;
  max-width: 30px;
  height: 100%;
}

/* Hide buttons by default */
.slick-slider .custom-slider {
  opacity: 0;
  pointer-events: none; /* Prevent interaction when hidden */
  transition: opacity 0.3s ease;
}

/* Show buttons when hovering over the slider container */
.slick-slider:hover .custom-slider {
  opacity: 1;
  pointer-events: auto; /* Enable interaction when visible */
}

/* 
=======================
Box Shadows
=======================
*/
.dark-shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.light-shadow {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.076);
}

.lighter-shadow {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.04);
}

.inset-shadow {
  box-shadow: inset 0 0 7px rgba(0, 0, 0, .1);
}

/* 
=======================
Slider Items Heights
=======================
*/

/* Reserved for setting height for slider items where Tailwind can't easily control */
.news-article-slider-heights {
  /* Extra Small Screens (xs): 0px -> 575 */
  @media (min-width: 0px) {
    height: 80vw;
  }

  /* Small Screens (s): 575px -> 770px */
  @media (min-width: 575px) {
    height: 450px;
  }

  /* Medium screens (m): 770px -> 990px */
  @media (min-width: 770px) {
    height: 320px;
  }

  /* Large screens (l): 990px -> 1200px */
  @media (min-width: 990px) {
    height: 375px;
  }

  /* Extra large screens (xl): 1200px+ */
  @media (min-width: 1200px) {
    height: 25vw;
  }
}

/* 
=======================
Footer Grid CSS Styles
=======================
*/

.footer-grid {
  display: grid;
  gap: 0.25rem;

  /* Extra Small Screens (xs): 0px -> 575 */
  @media (min-width: 0px) {
    gap: 3rem;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";
  }

  /* Small Screens (s): 575px -> 770px */
  @media (min-width: 575px) {
    grid-template-areas:
      "a b"
      "c c"
      "d d";
  }
  /* Medium screens (m): 770px -> 990px */
  @media (min-width: 770px) {
    grid-template-areas:
      "a b b"
      "c c c"
      "d d d";
  }

  /* Large screens (l): 990px -> 1200px */
  @media (min-width: 990px) {
    grid-template-areas:
      "a b c"
      "d d d";
  }

  /* Extra large screens (xl): 1200px+ */
  @media (min-width: 1200px) {
    gap: 0;
    grid-template-areas: "a b c d";
  }
}

.logo {
  grid-area: a;
}

.info {
  grid-area: b;
}

.links {
  grid-area: c;
}

.contact {
  grid-area: d;
}

/* 
============================
Radix Accordion Menu Styles
============================
*/

/* Initially set the SVG's rotation to be "down" (closed state) */
.caret-icon {
  transition: none !important;
  transform: rotate(180deg); /* Rotate caret 180deg by default for "closed" */
}

/* When the parent button is clicked and opened (data-state="open"), rotate the caret to "up" */
[data-state="open"] .caret-icon {
  transform: rotate(0deg); /* Set rotation to 0deg for "open" */
}

/* 
======================================
Website Input Styles
======================================
*/

/* Default styling for the checkbox */
input[type="checkbox"] {
  width: 1rem; 
  height: 1rem;

  border: 1px solid #333333; 
  appearance: none;
  background-color: white;
  cursor: pointer;
}

/* When the checkbox is checked */
input[type="checkbox"]:checked {
  background-color: white; 
  color: #777777; 
  border: 1px solid #333333;
}

/* Custom checkmark styling */
input[type="checkbox"]:checked::before {
  content: "✔"; 
  font-size: 0.75rem;
  color: gray; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dollar-sign {
  position: relative;
  border: 1px solid #e5e5e5;
  appearance: none;
  background-color: white;
  cursor: pointer;
}

.dollar-sign::before {
  position: absolute;
  width: 1rem;
  height: 1rem;
  content: "$";
  left: 0;
  font-size: 1rem;
  z-index: 5;
}

.dollar-sign-wrapper {
  position: relative;
}

.dollar-sign-wrapper::before {
  position: absolute;
  content: "";
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem; 
  color: #555;
  pointer-events: none; 
}

/* 
======================================
Shop Page
======================================
*/

main.shop .product {
  /* Extra Small Screens (xs): 0px -> 575 */
  @media (min-width: 0px) {
    max-height: 130vw !important;
    min-height: 130vw !important;
  }

  /* Small Screens (s): 575px -> 770px */
  @media (min-width: 575px) {
    max-height: 50vw !important;
    min-height: 50vw !important;
  }

  /* Medium screens (m): 770px -> 990px */
  @media (min-width: 770px) {
    max-height: 60vw !important;
    min-height: 60vw !important;
  }

  /* Large screens (l): 990px -> 1200px */
  @media (min-width: 990px) {
    max-height: 320px !important;
    min-height: 320px !important;
  }

  /* Extra large screens (xl): 1200px+ */
  @media (min-width: 1200px) {
    max-height: 350px !important;
    min-height: 350px !important;
  }
}

/* 
======================================
Blog Page
======================================
*/

.blog-article-slider-heights {
  /* Extra Small Screens (xs): 0px -> 575 */
  @media (min-width: 0px) {
    height: 80vw;
  }

  /* Small Screens (s): 575px -> 770px */
  @media (min-width: 575px) {
    height: 450px;
  }

  /* Medium screens (m): 770px -> 990px */
  @media (min-width: 770px) {
    height: 320px;
  }

  /* Large screens (l): 990px -> 1200px */
  @media (min-width: 990px) {
    height: 375px;
  }

  /* Extra large screens (xl): 1200px+ */
  @media (min-width: 1200px) {
    height: 25vw;
  }
}

/* 
======================================
Input Styles
======================================
*/

input[type="checkbox"].white-check:checked::before {
  color: white;
}

/* 
======================================
Grid Styles
======================================
*/

.grid-container {
  display: grid;

  /* Extra Small Screens (xs): 0px → 574px */
  grid-template-columns: repeat(1, 1fr);

  /* Small Screens (s): 575px → 769px */
  @media (min-width: 575px) {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Medium Screens (m): 770px → 989px */
  @media (min-width: 770px) {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Large Screens (l): 990px → 1199px */
  @media (min-width: 990px) {
    grid-template-columns: repeat(4, 1fr);
  }

  /* Extra Large Screens (xl): 1200px+ */
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr); /* Optional: Keeps the same layout */
  }
}
